<h1>Add Service to Bill</h1>

<%= simple_form_for(@service) do |f| %>
  <%= f.input :description %>
  <%= f.input :rate %>
  <%= f.input :days_worked %>
  <%= f.button :submit, class: 'btn btn-primary' %>
<% end %>
