<h1> Account info </h1>
<%= simple_form_for(current_user) do |f| %>
  <%= f.input :fullname %>
  <%= f.input :business_name %>
  <%= f.input :phone_number %>
  <%= f.input :city %>
  <%= f.input :street %>
  <%= f.input :bank_name %>
  <%= f.input :account_number %>
  <%= f.input :iban %>
  <%= f.input :bic %>
  <%= f.button :submit, class: 'btn btn-primary' %>
<% end %>
