<nav class="navbar">
  <div class="nav-title">
    <% if user_signed_in? %>
        <%= link_to bills_path(), class: "logo-link" do %>
          <%= image_tag "logo.png", size: "40x40", class: "rounded-circle logo" %>
        <% end %>
      <span class="b">MyBills</span>
      <span class="a"><%= current_user.email %></span>
      <a href="<%= bills_path %>" class="a">My bills</a>
      <a href="<%= edit_user_path(current_user) %>" class="a">Edit Profile</a>
      <%= link_to "log out", destroy_user_session_path, method: :delete, data: { turbo_method: :delete }%>
    <% else %>
      <%= link_to bills_path(), class: "logo-link" do %>
          <%= image_tag "logo.png", size: "40x40", class: "rounded-circle logo" %>
        <% end %>
      <span class="b">MyBills</span>
      <span class="a">Guest User</span>
      <a href="<%= new_user_session_path %>" class="a">Sign in</a>
      <a href="<%= new_user_registration_path %>" class="a">Sign Up</a>
    <% end %>
  </div>
</nav>
