<nav class="navbar">
  <div class="nav-container">
      <% if user_signed_in? %>
        <div class="nav-title">
          <%= link_to root_path(), class: "logo-link" do %>
            <%= image_tag "logo.png", size: "100x70" %>
          <% end %>
          <a href="<%= bills_path %>" class="a">Invoice List</a>
          <a href="<%= clients_path %>" class="a">Clients List</a>
          <a href="<%= services_path %>" class="a">Services List</a>
          <%= link_to "New Invoice", new_bill_path, class: "btn btn-primary p-2 a", id: "nav_button" %>
        </div>
        <div class="nav_links">
          <div class="dropdown">
            <span class="dropdown-button a"><%= current_user.email %></span>
            <div class="dropdown-content">
              <a href="<%= edit_user_path(current_user) %>" class="a">Edit Profile</a>
              <%= link_to "log out", destroy_user_session_path, class: "a", method: :delete, data: { turbo_method: :delete } %>
            </div>
          </div>
        </div>
      <% else %>
        <div class="nav-title">
          <%= link_to root_path(), class: "logo-link" do %>
            <%= image_tag "logo.png", size: "100x70" %>
          <% end %>
        </div>
        <div class="nav_links">
          <a href="<%= new_user_session_path %>" class="a">Sign in</a>
          <a href="<%= new_user_registration_path %>" class="b btn btn-primary">Sign Up For Free</a>
        </div>
      <% end %>
  </div>
</nav>
