  <div class="custom-form">
    <%= simple_form_for(@client || Client.new, html: { class: 'new_client', id: 'new_client' }) do |f| %>
      <div class="row">
        <div class="col-md-6">
          <%= f.input :client_name %>
          <%= f.input :contact_name %>
          <%= f.input :client_address, label: 'steet' %>
        </div>
        <div class="col-md-6">
          <%= f.input :client_email %>
          <%= f.input :client_phone %>
          <%= f.input :client_city, label: 'City / Zip code / Country'  %>
        </div>
      </div>

      <%= f.button :submit, class: 'btn btn-primary' %>
    <% end %>
  </div>
