<div class="homepage_container">
  <% if user_signed_in? %>
    <div class="container">
      <section class="signed_in logged_header_homepage">
        <div class="title-and-link">
          <% if current_user.sign_in_count <= 1 %>
            <h1 class="home_logged_title">Welcome <%= current_user.fullname %> !</h1>
            <a href="<%= new_bill_path %>" class="invoice-link">Go Make your first invoice</a>
          <% else %>
            <h1 class="home_logged_title">Welcome back <%= current_user.fullname %> !</h1>
            <a href="<%= new_bill_path %>" class="invoice-link">Go Make some invoices</a>
          <% end %>
        </div>
      </section>
           <section class="signed_in logged_explanation_homepage">
        <div class="logged_explanation_homepage_title">
          <h3>Get started with justinvoice</h3>
        </div>
        <div class="logged_explanation_homepage_content">
          <p>Fill out all your personal info</p>
          <%= image_tag "acoount_info.png", size: "600x600"%>
          <p>Create your bill</p>
          <p>Send it to your client</p>
        </div>
      </section>

      <section class="signed_in logged_overview_homepage">
        <div class="logged_overview_homepage_title">
          <h3>Overview</h3>
        </div>
        <div class="logged_overview_homepage_content">
          <div class="row justify-content-center mt-5">
            <div class="col-2 text-center bill-info">
              <h4>Number of bills</h4>
              <%= @bills_count %>
            </div>
            <div class="col-2 text-center bill-info">
              <h4>Unsent bills</h4>
              <%= @unsent_bills_count %>
            </div>
            <div class="col-2 text-center bill-info">
              <h4>Sent bills</h4>
              <%= @sent_bills_count %>
            </div>
            <div class="col-2 text-center bill-info">
              <h4>Paid bills</h4>
              <%= @paid_bills_count %>
            </div>
          </div>
        </div>
      </section>
    </div>


  <% else %>

    <section class="header_homepage">
  <div class="Header_info_homepage">
    <h1 class="home_title">Welcome to JustInvoice</h1>
    <p class="header_text">
      JustInvoice is a simple and easy-to-use app to manage your bills
    </p>
    <a href="<%= new_user_registration_path %>" class="btn btn-primary" id="signup_button">Sign Up For Free</a>
  </div>
</section>

<section class="home_manage">
  <div class="home_manage_text">
    <h2>Manage your bills</h2>
    <p>Effortlessly handle your invoices and keep track of your expenses</p>
  </div>
  <div class="home_manage_image">
    <%= image_tag("homepage_checklist.png", size: "600x380") %>
  </div>
</section>

<section class="home_time">
  <div class="home_time_image">
    <%= image_tag("homepage_clock.png", size: "600x380") %>
  </div>
  <div class="home_time_text">
    <h2>Save time</h2>
    <p>JustInvoice is a straightforward solution to save you time</p>
  </div>
</section>

    <!-- Uncomment the following section if you decide to re-enable it -->
<!--
<section class="home_money">
  <div class="pricing_container">
    <% @plans.each do |plan| %>
      <div class="pricing_card">
        <h3><%= plan.title %></h3>
        <p><%= plan.content %></p>
        <p><%= humanized_money_with_symbol(plan.price) %> USD per month</p>
        <a href="<%= new_user_registration_path %>" class="btn btn-primary">Get Started</a>
      </div>
    <% end %>
  </div>
</section>
-->
  <% end %>
</div>
