<div class="homepage_container">
  <% if user_signed_in? %>
    <div class="container">
      <section class="signed_in logged_header_homepage">
        <% if current_user.sign_in_count <= 1 %>
          <h1 class="home_logged_title">Welcome <%= current_user.fullname %> !</h1>
        <% else %>
          <h1 class="home_logged_title">Welcome back <%= current_user.fullname %> !</h1>
        <% end %>
        <a href="<%= bills_path %>">Go straight to your bills</a>
      </section>

      <section class="signed_in logged_explanation_homepage">
        <div class="logged_explanation_homepage_title">
          <h2>Get started with justinvoice</h2>
        </div>
        <div class="logged_explanation_homepage_content">
          <p>Fill out all your personal info</p>
          <%= image_tag "acoount_info.png", size: "600x600"%>
          <p>Create your bill</p>
          <p>Send it to your client</p>
        </div>
      </section>

      <section class="signed_in logged_overview_homepage">
        <div class="logged_overview_homepage_title">
          <h2>Overview</h2>
        </div>
        <div class="logged_overview_homepage_content">
          <div class="row justify-content-center mt-5">
            <div class="col-2 text-center bill-info">
              <p>number of bills</p>
              <%= @bills_count %>
            </div>
            <div class="col-2 text-center bill-info">
              <p>unsent bills</p>
              <%= @unsent_bills_count %>
            </div>
            <div class="col-2 text-center bill-info">
              <p>sent bills</p>
              <%= @sent_bills_count %>
            </div>
            <div class="col-2 text-center bill-info">
              <p>paid bills</p>
              <%= @paid_bills_count %>
            </div>
          </div>
        </div>
      </section>
    </div>
  <% else %>

    <section class="header_homepage">
      <div class="Header_info_homepage">
        <h1 class="home_title">Welcome to JustInvoice</h1>
        <p class="header_text">
        JustInvoice is a simple and easy to use app to manage your bills
        </p>
        <a href="<%= new_user_registration_path %>" class="a btn  btn-primary" id="signup_button">Sign Up For Free</a>
      </div>
      <div class="header_image">
        <%# <%= image_tag("invoice.png", class: "header_image") %>
      </div>
    </section>

    <section class="home_manage">
      <div class="home_manage_title">
        <h2>Manage your bills</h2>
      </div>
      <div class="home_manage_content">
        <p>Manage your bills and keep track of your expenses</p>
      </div>
      <div class="home_manage_image">
        <%# <%= image_tag("manage.png", class: "home_manage_image") %>
      </div>
    </section>

    <section class="home_time">
      <div class="home_time_title">
        <h2>Save time</h2>
      </div>
      <div class="home_time_content">
        <p>JustInvoice is a simple and easy to use app</p>
      </div>
    </section>

    <!-- <section class="home_money">
      <div class="home_money_title">
        <h2>Choose your Needs</h2>
      </div>
      <div class="home_money_content">
        <p>JustInvoice has premium plans for those that need a little extra !</p>
      </div>
      <div class="pricing_container">
        <% @plans.each do |plan| %>
          <div class="pricing_card">
            <div class="pricing_card_title"><h3><%= plan.title %></h3></div>
            <div class="pricing_card_content"><p><%= plan.content %></p></div>
            <div class="pricing_card_price"><p><%= humanized_money_with_symbol(plan.price) %> USD per month</p></div>
            <div class="pricing_card_button"><a href="<%= new_user_registration_path %>" class="btn btn-primary">Get Started</a></div>
          </div>
        <% end %>
      </div>
    </section> -->
  <% end %>
</div>
