<div class="container">
  <table class="table custom-table">
    <thead>
      <tr>
        <th scope="col">Actions</th>
        <th scope="col">Service ID</th>
        <th scope="col">Service Name</th>
        <th scope="col">Service description</th>
        <th scope="col">Days worked</th>
        <th scope="col">Rate</th>
        <th scope="col">Amount</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td>
            <%= link_to fa_icon("times"), service_path(bill.services), method: :delete, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' },
            class: 'btn btn-danger btn-sm' %>

            <%= link_to fa_icon("pencil-alt"), edit_service_path(bill.service), class: 'btn btn-primary btn-sm' %>
          </td>
          <td><%= bill.service.service_number %></td>
          <td><%= bill.service.service_name %></td>
          <td><%= bill.service.description  %></td>
          <td><%= bill.service.days_worked %></td>
          <td><%= bill.service.rate %></td>
          <td><%= bill.service.total_amount %></td>
          </tr>
    </tbody>
  </table>
</div>
