<div class="container">
  <div class="custom-form">
    <%= simple_form_for(@bill) do |f| %>
      <h2 class="bill_form_subtitles"> Client </h2>
      <%= f.collection_select(:client_id, @clients, :id, :client_name, { prompt: 'Select existing client' }) %>
      <h2 class="bill_form_subtitles"> Invoice Info </h2>
      <%= f.input :bill_date, label: 'Invoice date' %>
      <%= f.input :description %>
      <h2 class="bill_form_subtitles"> Service(s) </h2>
      <% if @services.present? %>
        <%= f.input :service_ids, label: 'Hold Shift to select multiple', as: :select,
        collection: @services, value_method: :id, label_method: :description,
        input_html: { multiple: true, size: 5, class: 'custom-select-width' } %>
      <% else %>
        <p>No services available.</p>
      <% end %>
      <%= f.button :submit, class: 'btn btn-primary p-3' %>
    <% end %>
  </div>

  <div style="margin-top: 10px">
    <%= link_to "Back to all bills", bills_path, id: "back-to-bills-link" %>

    <script>
      document.getElementById('back-to-bills-link').addEventListener('click', function(event) {
      if (!confirm('Are you sure you want to discard all changes?')) {
        event.preventDefault();
      }
      });
    </script>
  </div>
</div>
