<h1> Edit Bill </h1>
<%= simple_form_for(@bill) do |f| %>
  <%= f.collection_select(:client_id, @clients, :id, :client_name, { prompt: 'Select existing client' }) %>
  <%= link_to 'Create New Client', new_client_path, class: 'btn btn-primary' %>
  <%= f.input :bill_date %>
  <%= f.input :description %>
  <%= f.collection_select( :service_ids, @services, :id, :description, { prompt: 'Select existing service' }, { multiple: true, size: 5 })%>
  <%= link_to "New Service", new_service_path, class: "btn btn-primary p-1", id: "button_style" %>
  <%= f.input :amount, input_html: { value: @bill.grand_total, readonly: true } %>
  <%= f.input :status, as: :select, collection: status_options, include_blank: false %>
  <%= f.button :submit, class: 'btn btn-primary' %>
<% end %>
