<h1> My bills </h1>
<%= link_to "New Bill", new_bill_path, class: "btn btn-primary p-2", id: "button_style" %>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Actions</th>
      <th scope="col">Client</th>
      <th scope="col">Bill Date</th>
      <th scope="col">Description</th>
      <th scope="col">Days Worked</th>
      <th scope="col">Rate</th>
      <th scope="col">Amount</th>
      <th scope="col">Status</th>
      <th scope="col">PDF</th>
    </tr>
  </thead>
  <tbody>
    <% @bills.each do |bill| %>
      <tr>
        <td>
          <%= link_to 'Delete', bills_path, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
        </td>
        <td><%= bill.client.client_name %></td>
        <td><%= bill.bill_date %></td>
        <td><%= bill.description %></td>
        <td><%= bill.days_worked %></td>
        <td><%= bill.rate %></td>
        <td><%= bill.amount %></td>
        <td>
          <%= form_with(model: bill, url: update_status_bill_path(bill), method: :patch, local: true, class: 'status-form') do |form| %>
            <%= form.select :status, status_options, {}, class: 'form-control status-dropdown', data: { turbolinks: false } %>
            <%= form.submit 'Update', class: 'btn btn-primary btn-sm' %>
          <% end %>
        </td>
        <td>
          <%= link_to 'Generate PDF', generate_pdf_bill_path(bill, format: :pdf), class: 'btn btn-secondary btn-sm' %>
        </td>
        </tr>
    <% end %>
  </tbody>
</table>
