<div class="container">
  <h1 class="form_title"> New Invoice </h1>
  <div class="custom-form">
    <%= simple_form_for(@bill) do |f| %>
      <h2 class="bill_form_subtitles"> Client </h2>
      <%= f.collection_select(:client_id, @clients, :id, :client_name, { prompt: 'Select existing client' }) %>
      <br>
      <button type="button" data-bs-toggle="modal" data-bs-target="#clientModal" class="btn btn-outline-primary mt-3">New Client</button>
      <h2 class="bill_form_subtitles"> Invoice Info </h2>
      <%= f.input :bill_date, label: 'Invoice date' %>
      <%= f.input :description %>
      <h2 class="bill_form_subtitles"> Service(s) </h2>
      <% if @services.present? %>
        <%= f.input :service_ids, label: 'Hold Shift to select multiple', as: :select,
        collection: @services, value_method: :id, label_method: :description,
        input_html: { multiple: true, size: 5, class: 'custom-select-width' } %>
      <% else %>
        <p>No services available.</p>
      <% end %>
      <button type="button" data-bs-toggle="modal" data-bs-target="#serviceModal" class="btn btn-outline-primary">New Service</button>
      <br>
      <%= f.button :submit, class: 'btn btn-primary p-3 mt-3' %>
    <% end %>
  </div>

  <div style="margin-top: 10px">
    <%= link_to "Back to all bills", bills_path, id: "back-to-bills-link" %>

    <script>
      document.getElementById('back-to-bills-link').addEventListener('click', function(event) {
      if (!confirm('Are you sure you want to discard all changes?')) {
        event.preventDefault();
      }
      });
    </script>
  </div>
</div>

<!-- Client Modal -->
<div class="modal fade" id="clientModal" tabindex="-1" aria-labelledby="clientModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="clientModalLabel">New Client</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render "clients/client_form", client: @client %>
      </div>
    </div>
  </div>
</div>

<!-- Service Modal -->
<div class="modal fade" id="serviceModal" tabindex="-1" aria-labelledby="serviceModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="serviceModalLabel">New Service</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render "services/service_form", service: @service %>
      </div>
    </div>
  </div>
</div>
