<h1> New bill </h1>
<%= simple_form_for(@bill) do |f| %>
  <%= f.collection_select(:client_id, @clients, :id, :client_name, { prompt: 'Select existing client' }) %>
  <%= link_to "New Client", new_client_path, class: "btn btn-primary p-2", id: "button_style" %>
  <%= f.input :bill_date %>
  <%= link_to "New Service", new_service_path, class: "btn btn-primary p-2", id: "button_style" %>
  <%= f.input :amount, input_html: { value: @bill.total, readonly: true } %>
  <%= f.button :submit, class: 'btn btn-primary' %>
<% end %>

<div>
  <%= link_to "Back to all bills", bills_path %>
</div>
